footer
    p.note 
        strong Note: 
        | All responses are 
        strong strictly 
        | confidential and 100% anonoymous. The information you share with us cannot be used to identify you in any way. Please don't hesitate to 
        a(href="mailto:workculturesurvey@gmail.com") email us
        |  if you have any questions and concerns whatsoever.