extends layout

block content
  .home-inner
    h1 Workplace Harrassment
    p 
      | It'a serious problem, and we're going to do something about it. 
      br
      br
      | But first, we need to hear your stories.
    include partials/survey