extends layout

block content
  .home-inner
    h1 Workplace Harrassment
    p It'a  serious problem. We're going to do something about it. But first, we need to hear your stories.
    include partials/survey