extends layout

block content
  .page-header.list
    h3 How you can keep in touch
    p We're building a platform that aims to end workplace abuse and harrassment once and for all.
    p Stay in touch with us as we analyse thousands of survey submissions from all over the world and work on an effective solution.
    form#mailingList
        input(placeholder="Enter your email", autofocus, name='email', id='email')
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Join Our Mailing List

    .alert.alert-success.hidden
        p
            | Great! We'll be in touch with you shortly.

    .alert.alert-danger.hidden
        p
            | Oh snap! There was an error. Please email us directly at 
            a(href="mailto:theworkculturesurvey@gmail.com") theworkculturesurvey@gmail.com

