extends layout

block content
  .what-inner
    h1 What is this?

    p Let's face it: workplace abuse, employee-mismanagement and a lack of accountability have run rampant throughout all areas of business for years. 

    p Human resources departments exist - and many do a fantastic job - but many act solely in the interest of their company, rather than in the interest of the victim.

    p 
      a(href="https://www.susanjfowler.com/blog/2017/2/19/reflecting-on-one-very-strange-year-at-uber") Susan Fowler's 
      | story about the issues she faced at Uber shed a huge public light on these issues, and in the aftermath of her article's release many people - across all sectors, employment teirs, genders - have begun to express their own stories of systemic workplace abuse.

    p We want to hear as many of these stories as we can.

    p Our goal is to hear from anyone, anywhere who has a story to tell in this space. If you were a victim; if you work in HR; if you had an accusation against you. The greater spectrum of voices we hear, the better positioned we'll be to address this problem across industry and enterprise.

    p You can help. Take the survey if you've got a story to contribute to our data collection, and please share this link on Facebook and Twitter to increase awareness and help us hear as many voices as possible.
  

    include partials/survey