extends layout

block content
  .who-inner
    h1 Who are we?
    
    p We're a collection of concerned individuals working across small, medium and enterprise businesses, who believe that there is a serious, systemic and far-reaching problem of underreported abuse in the workplace.

    p This project aims to collect data from as many sources as possible - people from every country, within every industry can contribute. The data will be collated and used to help us take action.

    p Someone's finally doing something about it.

    p You can help. Take the survey if you've got a story to contribute to our data collection, and please share this link on Facebook and Twitter to increase awareness and help us hear as many voices as possible.
  

    include partials/survey